  /*Blog Page*/
  
  
   header{
    text-align: center;
    font-size: 30px;
    font-style: normal;
    background-color: #0d1430;
    padding: 15px;
    }
    a{
        text-decoration: none;
        color: white;
        padding: 20px;
    }
    .one{
        margin-top: 20px;
        margin-left: 205px;
        margin-right: 205px;
       
    }
    .two{
        margin-top: 20px;
        margin-left: 205px;
        margin-right: 205px;
        
    
    }
  


img{
    background-color: lightblue;
    height: 300px;
    width: 400px;
    
}       
.samebox{
    height: 300px;
    width: 400px;
    
    display: inline-block;
    margin: 10px; 
     
}
p{
    padding-bottom: 17px;
}



    
.green{
    color: green;
    font-size: 15px;
    text-decoration: underline;
}
.background{
    
    
    padding: 9px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}
h2{
    color: darkred
}